#container {
    float: left;
    margin: auto;
    padding: 10px auto;

    display: inline-grid;
    grid-template-columns: auto 400px;
    grid-template-rows: 120px 120px auto;
    grid-gap: 60px;

    font-size: large;
}

table, td {
    border-collapse: collapse;
    min-height: 20px;
    min-width: 20px;
    border: 3px solid blue;
    padding: 5px;
}

td {
    font-size: large;
}

img {
    max-height: 125px;
    max-width: 125px;
}

@media screen and (max-width: 500px) {
    #container {
        grid-template-columns: auto;
    }
}