doctype html
html
  head
    title Opgave 15.1
    script(type='opgave15.1.mjs')
    body
        h1 Opgave 15.1
        if name != null
            p Velkommen #{name}
            p Du er #{age} år gammel
            p Din Email er #{email}
        else
            p Du er ikke logget ind

