doctype html
html
  head
    title Opgave 15.1
    script(type='opgave15.1.mjs')
    body
        h1 Opgave 15.1
        if useres != null
            ul
            each user in useres
                li Velkommen #{user.name}
                li Du er #{user.age} år gammel
                li Din Email er #{user.email}
        else
            p Du er ikke logget ind